body {
  background-color: rgb(172, 172, 172);


}

main {
  padding-bottom: 3px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  /* background-color: #f9f9f9; */
  border-radius: 20px;
  height: min(50%, 1500px);
  width: min(95%, 1300px);
}
